html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}
#root{
    width: 100%;
}
.search-container{
    width: 100%;
}
.plain-search-group{
    width:100%;
}
.repos_list{
    list-style: none;
}
.repos_list li{
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin: 10px;
    display: inline;
    font-family: 'Montserrat', sans-serif;
}
.repo_list{
    list-style: none;
}
.repo_list li{
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;
    height: 40px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}